.rotate {
  padding-top: 0px;
  width: 120%;
  margin-top: 100px !important;
  margin-right: 50px !important;
  padding-bottom: 5px;
  white-space: nowrap;
  border-bottom: 1px solid #b7b7b7;

  /* Safari */
  -webkit-transform: rotate(-90deg);

  /* Firefox */
  -moz-transform: rotate(-90deg);

  /* IE */
  -ms-transform: rotate(-90deg);

  /* Opera */
  -o-transform: rotate(-90deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
